# Pano Logic Zero Client G2 Constraints File
# VCCAUX is 2.5 Volts
CONFIG VCCAUX = "2.5";


# Note: There are separate TNM_NETs specified for the clocks due to a stupid quirk where ISE won't look
# at derived constraints if you add anything but a PERIOD. We create a second TNM_NET for TIG or delays

# 125 MHz System Clock (25 MHz when GMII chip is in reset)
TIMESPEC TS_OSC_CLK = PERIOD "osc_clk_period" 125 MHz HIGH 50 %;
NET "osc_clk" TNM_NET = "osc_clk_period";
NET "osc_clk" TNM_NET = "osc_clk_tnm";

# GMII RX input, driven by GMII chip.
TIMESPEC TS_GMII_RX_CLK = PERIOD "gmii_rx_clk_period" 125 MHz HIGH 50 %;
NET "gmii_rx_clk" TNM_NET = "gmii_rx_clk_period";
NET "gmii_rx_clk" TNM_NET = "gmii_rx_clk_tnm";

# 60 MHz clock driven by ULPI chip.
TIMESPEC TS_ULPI_CLK = PERIOD "ulpi_clk_period" 60 MHz HIGH 50 %;
NET "ulpi_clk" TNM_NET = "ulpi_clk_period";
NET "ulpi_clk" TNM_NET = "ulpi_clk_tnm";

# Main clock (processor/IO peripherals) - Derived from 125Mhz (/5 = 25MHz)
NET "u_main_clk_gen_u_main_clk_pll_CLKFX" TNM_NET = "main_clk_period";
NET "u_main_clk_gen_u_main_clk_pll_CLKFX" TNM_NET = "main_clk_tnm";

# Video clock 148 MHz
NET "u_vo_clk_gen_u_vo_clk_pll_CLKFX" TNM_NET = "video_clk_period";
NET "u_vo_clk_gen_u_vo_clk_pll_CLKFX" TNM_NET = "video_clk_tnm";

# Configuration registers main clk and vo clk.
# Without this, we get masasive timing violations.
TIMESPEC TS_MAIN_TO_VIDEO = FROM "main_clk_tnm" TO "video_clk_tnm" 8 ns DATAPATHONLY;
TIMESPEC TS_VIDEO_TO_MAIN = FROM "video_clk_tnm" TO "main_clock_tnm" 8 ns DATAPATHONLY;

TIMESPEC TS_MAIN_TO_RX = FROM "main_clk_tnm" TO "gmii_rx_clk_tnm" 8 ns DATAPATHONLY;
TIMESPEC TS_RX_TO_MAIN = FROM "gmii_rx_clk_tnm" TO "main_clk_tnm" 8 ns DATAPATHONLY;

TIMESPEC TS_MAIN_TO_USB = FROM "main_clk_tnm" TO "ulpi_clk_tnm" 8 ns DATAPATHONLY;
TIMESPEC TS_USB_TO_MAIN = FROM "ulpi_clk_tnm" TO "main_clk_tnm" 8 ns DATAPATHONLY;

TIMESPEC TS_MAIN_TO_OSC = FROM "main_clk_tnm" TO "osc_clk_tnm" 8 ns DATAPATHONLY;
TIMESPEC TS_OSC_TO_MAIN = FROM "osc_clk_tnm" TO "main_clk_tnm" 8 ns DATAPATHONLY;

# Reset Signals
#NET "SYSRST_N" LOC = AB14   | IOSTANDARD = LVCMOS33;
#NET "RESET_OUT_N" LOC = AA6 | IOSTANDARD = LVCMOS33;

# Power Management
#NET "SLEEP_REQ" LOC = C13   | IOSTANDARD = LVCMOS33;
#NET "POWER_SLEEP" LOC = C10 | IOSTANDARD = LVCMOS33;

# 125 MHz System Clock (25 MHz when GMII chip is in reset)
# This net is driven by the GMII chip.
NET "osc_clk"               LOC = Y13 | IOSTANDARD = LVCMOS33;

# USB Clock Generation
NET "usb_reset_"            LOC = W11 | IOSTANDARD = LVCMOS33;
NET "usb_clk"               LOC = W12 | IOSTANDARD = LVCMOS33;

# Pano Button LED Output, Active High
NET "led_red"               LOC = E12 | IOSTANDARD = LVCMOS33;
NET "led_blue"              LOC = H13 | IOSTANDARD = LVCMOS33;
NET "led_green"             LOC = F13 | IOSTANDARD = LVCMOS33;

# Pano Button Input, Active Low
NET "pano_button"           LOC = H12 | IOSTANDARD = LVCMOS33;

# DVI Common
NET "dvi_spc"               LOC = E8 | IOSTANDARD = LVCMOS33;
NET "dvi_spd"               LOC = D9 | IOSTANDARD = LVCMOS33;

# Chrontel 1 (DVI)
NET "dvi_reset_"            LOC = C15 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 24;
NET "dvi_xclk_p"            LOC = E14 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 24;
NET "dvi_xclk_n"            LOC = F15 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 24;
NET "dvi_v"                 LOC = C16 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 24;
NET "dvi_h"                 LOC = F12 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 24;
NET "dvi_de"                LOC = F14 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 24;
NET "dvi_d[0]"              LOC = D17 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 24;
NET "dvi_d[1]"              LOC = A14 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 24;
NET "dvi_d[2]"              LOC = A15 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 24;
NET "dvi_d[3]"              LOC = A16 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 24;
NET "dvi_d[4]"              LOC = A17 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 24;
NET "dvi_d[5]"              LOC = A18 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 24;
NET "dvi_d[6]"              LOC = D14 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 24;
NET "dvi_d[7]"              LOC = B14 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 24;
NET "dvi_d[8]"              LOC = B16 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 24;
NET "dvi_d[9]"              LOC = B18 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 24;
NET "dvi_d[10]"             LOC = E16 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 24;
NET "dvi_d[11]"             LOC = D15 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 24;

#NET "dvi0_ddc_scl"          LOC = C14 | IOSTANDARD = LVCMOS33;
#NET "dvi0_ddc_sda"          LOC = C17 | IOSTANDARD = LVCMOS33;
#NET "dvi0_hpint"            LOC = D13 | IOSTANDARD = LVCMOS33; # Hot-plug detect interrupt input, active low
# Chrontel 2 (micro-HDMI)
NET "hdmi_reset_"           LOC = W18  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 24; # Reset output, active low
NET "hdmi_xclk_p"           LOC = T15  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 24; # Clock output
NET "hdmi_v"                LOC = T16  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 24; # V-sync output
NET "hdmi_h"                LOC = AB15 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 24; # H-sync output
NET "hdmi_de"               LOC = AB16 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 24; # Data enable output
NET "hdmi_d[0]"             LOC = T18  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 24;
NET "hdmi_d[1]"             LOC = U16  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 24;
NET "hdmi_d[2]"             LOC = V17  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 24;
NET "hdmi_d[3]"             LOC = V19  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 24;
NET "hdmi_d[4]"             LOC = V18  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 24;
NET "hdmi_d[5]"             LOC = W17  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 24;
NET "hdmi_d[6]"             LOC = Y17  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 24;
NET "hdmi_d[7]"             LOC = Y15  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 24;
NET "hdmi_d[8]"             LOC = Y18  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 24;
NET "hdmi_d[9]"             LOC = Y19  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 24;
NET "hdmi_d[10]"            LOC = AB21 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 24;
NET "hdmi_d[11]"            LOC = T17  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 24;

#NET "DDC2_SCK" LOC = AA21 | IOSTANDARD = LVCMOS33; # Display data channel clock
#NET "DDC2_SDA" LOC = AB19 | IOSTANDARD = LVCMOS33; # Display data channel data
#NET "V2_HPINT" LOC = AB18 | IOSTANDARD = LVCMOS33; # Hot-plug detect interrupt input, active low

# USB PHY
NET "ulpi_clk"              LOC = C12  | IOSTANDARD = LVCMOS33;
NET "ulpi_data[7]"          LOC = A4   | IOSTANDARD = LVCMOS33;
NET "ulpi_data[6]"          LOC = A6   | IOSTANDARD = LVCMOS33;
NET "ulpi_data[5]"          LOC = B6   | IOSTANDARD = LVCMOS33;
NET "ulpi_data[4]"          LOC = C6   | IOSTANDARD = LVCMOS33;
NET "ulpi_data[3]"          LOC = D6   | IOSTANDARD = LVCMOS33;
NET "ulpi_data[2]"          LOC = A8   | IOSTANDARD = LVCMOS33;
NET "ulpi_data[1]"          LOC = B8   | IOSTANDARD = LVCMOS33;
NET "ulpi_data[0]"          LOC = A7   | IOSTANDARD = LVCMOS33;
NET "ulpi_nxt"              LOC = C5   | IOSTANDARD = LVCMOS33;
NET "ulpi_direction"        LOC = C7   | IOSTANDARD = LVCMOS33;
NET "ulpi_stp"              LOC = A5   | IOSTANDARD = LVCMOS33;
NET "ulpi_reset"            LOC = C9   | IOSTANDARD = LVCMOS33;

# Audio interface
#NET "ADC_BCLK" LOC = AB13 | IOSTANDARD = LVCMOS33;
#NET "ADC_ADCLRC" LOC = W9 | IOSTANDARD = LVCMOS33;
#NET "ADC_ADCDAT" LOC = R13 | IOSTANDARD = LVCMOS33;
#NET "ADC_DACLRC" LOC = U6 | IOSTANDARD = LVCMOS33;
#NET "ADC_DACDAT" LOC = Y14 | IOSTANDARD = LVCMOS33;
#NET "ADC_MCLK" LOC = W14 | IOSTANDARD = LVCMOS33;
#NET "ADC_SCLK" LOC = U17 | IOSTANDARD = LVCMOS33;
#NET "ADC_SDIN" LOC = AB17 | IOSTANDARD = LVCMOS33;

# Ethernet PHY
NET "gmii_rst_"             LOC = R11   | IOSTANDARD = LVCMOS33;
NET "gmii_mdio_mdc"         LOC = AB6   | IOSTANDARD = LVCMOS33;
NET "gmii_mdio_mdio"        LOC = AA2   | IOSTANDARD = LVCMOS33;

NET "gmii_rx_clk"           LOC = AB11  | IOSTANDARD = LVCMOS33;
NET "gmii_rx_dv"            LOC = Y7    | IOSTANDARD = LVCMOS33;
NET "gmii_rx_er"            LOC = Y8    | IOSTANDARD = LVCMOS33;
NET "gmii_rx_d[7]"          LOC = Y9    | IOSTANDARD = LVCMOS33;
NET "gmii_rx_d[6]"          LOC = U9    | IOSTANDARD = LVCMOS33;
NET "gmii_rx_d[5]"          LOC = R8    | IOSTANDARD = LVCMOS33;
NET "gmii_rx_d[4]"          LOC = V9    | IOSTANDARD = LVCMOS33;
NET "gmii_rx_d[3]"          LOC = R7    | IOSTANDARD = LVCMOS33;
NET "gmii_rx_d[2]"          LOC = R9    | IOSTANDARD = LVCMOS33;
NET "gmii_rx_d[1]"          LOC = Y4    | IOSTANDARD = LVCMOS33;
NET "gmii_rx_d[0]"          LOC = Y3    | IOSTANDARD = LVCMOS33;


NET "gmii_tx_gclk"          LOC = AA12  | IOSTANDARD = LVCMOS33;
NET "gmii_tx_clk"           LOC = Y11   | IOSTANDARD = LVCMOS33;
NET "gmii_tx_en"            LOC = AA8   | IOSTANDARD = LVCMOS33;
NET "gmii_tx_er"            LOC = AB8   | IOSTANDARD = LVCMOS33; # NC
NET "gmii_tx_d[7]"          LOC = Y10   | IOSTANDARD = LVCMOS33;
NET "gmii_tx_d[6]"          LOC = T7    | IOSTANDARD = LVCMOS33;
NET "gmii_tx_d[5]"          LOC = AB10  | IOSTANDARD = LVCMOS33;
NET "gmii_tx_d[4]"          LOC = AB9   | IOSTANDARD = LVCMOS33;
NET "gmii_tx_d[3]"          LOC = AB7   | IOSTANDARD = LVCMOS33;
NET "gmii_tx_d[2]"          LOC = AB4   | IOSTANDARD = LVCMOS33;
NET "gmii_tx_d[1]"          LOC = AB3   | IOSTANDARD = LVCMOS33;
NET "gmii_tx_d[0]"          LOC = AB2   | IOSTANDARD = LVCMOS33;

NET "gmii_col"              LOC = V7    | IOSTANDARD = LVCMOS33;
NET "gmii_crs"              LOC = W4    | IOSTANDARD = LVCMOS33;

#NET "ENET_LINK_ACTIVE_N" LOC = AA4 | IOSTANDARD = LVCMOS33;

# SPI Flash
NET "spi_ss"   LOC = T5   | IOSTANDARD = LVCMOS33;
NET "spi_sclk" LOC = Y21  | IOSTANDARD = LVCMOS33;
NET "spi_mosi" LOC = AB20 | IOSTANDARD = LVCMOS33;
NET "spi_miso" LOC = AA20 | IOSTANDARD = LVCMOS33;

# DDR2 SDRAM Interface A
NET "ddr2a_d[0]" LOC = N20 | IOSTANDARD = SSTL18_II | IN_TERM = UNTUNED_SPLIT_25;
NET "ddr2a_d[1]" LOC = N22 | IOSTANDARD = SSTL18_II | IN_TERM = UNTUNED_SPLIT_25;
NET "ddr2a_d[2]" LOC = M21 | IOSTANDARD = SSTL18_II | IN_TERM = UNTUNED_SPLIT_25;
NET "ddr2a_d[3]" LOC = M22 | IOSTANDARD = SSTL18_II | IN_TERM = UNTUNED_SPLIT_25;
NET "ddr2a_d[4]" LOC = J20 | IOSTANDARD = SSTL18_II | IN_TERM = UNTUNED_SPLIT_25;
NET "ddr2a_d[5]" LOC = J22 | IOSTANDARD = SSTL18_II | IN_TERM = UNTUNED_SPLIT_25;
NET "ddr2a_d[6]" LOC = K21 | IOSTANDARD = SSTL18_II | IN_TERM = UNTUNED_SPLIT_25;
NET "ddr2a_d[7]" LOC = K22 | IOSTANDARD = SSTL18_II | IN_TERM = UNTUNED_SPLIT_25;
NET "ddr2a_d[8]" LOC = P21 | IOSTANDARD = SSTL18_II | IN_TERM = UNTUNED_SPLIT_25;
NET "ddr2a_d[9]" LOC = P22 | IOSTANDARD = SSTL18_II | IN_TERM = UNTUNED_SPLIT_25;
NET "ddr2a_d[10]" LOC = R20 | IOSTANDARD = SSTL18_II | IN_TERM = UNTUNED_SPLIT_25;
NET "ddr2a_d[11]" LOC = R22 | IOSTANDARD = SSTL18_II | IN_TERM = UNTUNED_SPLIT_25;
NET "ddr2a_d[12]" LOC = U20 | IOSTANDARD = SSTL18_II | IN_TERM = UNTUNED_SPLIT_25;
NET "ddr2a_d[13]" LOC = U22 | IOSTANDARD = SSTL18_II | IN_TERM = UNTUNED_SPLIT_25;
NET "ddr2a_d[14]" LOC = V21 | IOSTANDARD = SSTL18_II | IN_TERM = UNTUNED_SPLIT_25;
NET "ddr2a_d[15]" LOC = V22 | IOSTANDARD = SSTL18_II | IN_TERM = UNTUNED_SPLIT_25;
NET "ddr2a_cke" LOC = D21 | IOSTANDARD = SSTL18_II;
NET "ddr2a_a[12]" LOC = D22 | IOSTANDARD = SSTL18_II;
NET "ddr2a_a[11]" LOC = F19 | IOSTANDARD = SSTL18_II;
NET "ddr2a_a[10]" LOC = G19 | IOSTANDARD = SSTL18_II;
NET "ddr2a_a[9]" LOC = C22 | IOSTANDARD = SSTL18_II;
NET "ddr2a_a[8]" LOC = C20 | IOSTANDARD = SSTL18_II;
NET "ddr2a_a[7]" LOC = E20 | IOSTANDARD = SSTL18_II;
NET "ddr2a_a[6]" LOC = K19 | IOSTANDARD = SSTL18_II;
NET "ddr2a_a[5]" LOC = K20 | IOSTANDARD = SSTL18_II;
NET "ddr2a_a[4]" LOC = F20 | IOSTANDARD = SSTL18_II;
NET "ddr2a_a[3]" LOC = G20 | IOSTANDARD = SSTL18_II;
NET "ddr2a_a[2]" LOC = E22 | IOSTANDARD = SSTL18_II;
NET "ddr2a_a[1]" LOC = F22 | IOSTANDARD = SSTL18_II;
NET "ddr2a_a[0]" LOC = F21 | IOSTANDARD = SSTL18_II;
NET "ddr2a_ba[2]" LOC = H18 | IOSTANDARD = SSTL18_II;
NET "ddr2a_ba[1]" LOC = K17 | IOSTANDARD = SSTL18_II;
NET "ddr2a_ba[0]" LOC = J17 | IOSTANDARD = SSTL18_II;
NET "ddr2a_ras_l" LOC = H21 | IOSTANDARD = SSTL18_II;
NET "ddr2a_cas_l" LOC = H22 | IOSTANDARD = SSTL18_II;
NET "ddr2a_we_l" LOC = H19 | IOSTANDARD = SSTL18_II;
NET "ddr2a_ck_p" LOC = H20 | IOSTANDARD = DIFF_SSTL18_II;
NET "ddr2a_ck_n" LOC = J19 | IOSTANDARD = DIFF_SSTL18_II;
NET "ddr2a_odt" LOC = G22 | IOSTANDARD = SSTL18_II;
NET "ddr2a_ldm" LOC = L19 | IOSTANDARD = SSTL18_II;
NET "ddr2a_udm" LOC = M20 | IOSTANDARD = SSTL18_II;
NET "ddr2a_ldqs_p" LOC = L20 | IOSTANDARD = DIFF_SSTL18_II | IN_TERM = UNTUNED_SPLIT_25;
NET "ddr2a_ldqs_n" LOC = L22 | IOSTANDARD = DIFF_SSTL18_II | IN_TERM = UNTUNED_SPLIT_25;
NET "ddr2a_udqs_p" LOC = T21 | IOSTANDARD = DIFF_SSTL18_II | IN_TERM = UNTUNED_SPLIT_25;
NET "ddr2a_udqs_n" LOC = T22 | IOSTANDARD = DIFF_SSTL18_II | IN_TERM = UNTUNED_SPLIT_25;
NET "ddr2a_rzq" LOC = C19 | IOSTANDARD = SSTL18_II;
# DDR2 SDRAM Interface B
NET "ddr2b_d[15]" LOC = V1 | IOSTANDARD = SSTL18_II | IN_TERM = UNTUNED_SPLIT_25;
NET "ddr2b_d[14]" LOC = V2 | IOSTANDARD = SSTL18_II | IN_TERM = UNTUNED_SPLIT_25;
NET "ddr2b_d[13]" LOC = U1 | IOSTANDARD = SSTL18_II | IN_TERM = UNTUNED_SPLIT_25;
NET "ddr2b_d[12]" LOC = U3 | IOSTANDARD = SSTL18_II | IN_TERM = UNTUNED_SPLIT_25;
NET "ddr2b_d[11]" LOC = R1 | IOSTANDARD = SSTL18_II | IN_TERM = UNTUNED_SPLIT_25;
NET "ddr2b_d[10]" LOC = R3 | IOSTANDARD = SSTL18_II | IN_TERM = UNTUNED_SPLIT_25;
NET "ddr2b_d[9]" LOC = P1 | IOSTANDARD = SSTL18_II | IN_TERM = UNTUNED_SPLIT_25;
NET "ddr2b_d[8]" LOC = P2 | IOSTANDARD = SSTL18_II | IN_TERM = UNTUNED_SPLIT_25;
NET "ddr2b_d[7]" LOC = K1 | IOSTANDARD = SSTL18_II | IN_TERM = UNTUNED_SPLIT_25;
NET "ddr2b_d[6]" LOC = K2 | IOSTANDARD = SSTL18_II | IN_TERM = UNTUNED_SPLIT_25;
NET "ddr2b_d[5]" LOC = J1 | IOSTANDARD = SSTL18_II | IN_TERM = UNTUNED_SPLIT_25;
NET "ddr2b_d[4]" LOC = J3 | IOSTANDARD = SSTL18_II | IN_TERM = UNTUNED_SPLIT_25;
NET "ddr2b_d[3]" LOC = M1 | IOSTANDARD = SSTL18_II | IN_TERM = UNTUNED_SPLIT_25;
NET "ddr2b_d[2]" LOC = M2 | IOSTANDARD = SSTL18_II | IN_TERM = UNTUNED_SPLIT_25;
NET "ddr2b_d[1]" LOC = N1 | IOSTANDARD = SSTL18_II | IN_TERM = UNTUNED_SPLIT_25;
NET "ddr2b_d[0]" LOC = N3 | IOSTANDARD = SSTL18_II | IN_TERM = UNTUNED_SPLIT_25;
NET "ddr2b_cke" LOC = D2 | IOSTANDARD = SSTL18_II;
NET "ddr2b_a[12]" LOC = D1 | IOSTANDARD = SSTL18_II;
NET "ddr2b_a[11]" LOC = C1 | IOSTANDARD = SSTL18_II;
NET "ddr2b_a[10]" LOC = G4 | IOSTANDARD = SSTL18_II;
NET "ddr2b_a[9]" LOC = E1 | IOSTANDARD = SSTL18_II;
NET "ddr2b_a[8]" LOC = E3 | IOSTANDARD = SSTL18_II;
NET "ddr2b_a[7]" LOC = H6 | IOSTANDARD = SSTL18_II;
NET "ddr2b_a[6]" LOC = J4 | IOSTANDARD = SSTL18_II;
NET "ddr2b_a[5]" LOC = K3 | IOSTANDARD = SSTL18_II;
NET "ddr2b_a[4]" LOC = F3 | IOSTANDARD = SSTL18_II;
NET "ddr2b_a[3]" LOC = K6 | IOSTANDARD = SSTL18_II;
NET "ddr2b_a[2]" LOC = H5 | IOSTANDARD = SSTL18_II;
NET "ddr2b_a[1]" LOC = H1 | IOSTANDARD = SSTL18_II;
NET "ddr2b_a[0]" LOC = H2 | IOSTANDARD = SSTL18_II;
NET "ddr2b_ba[2]" LOC = F1 | IOSTANDARD = SSTL18_II;
NET "ddr2b_ba[1]" LOC = G1 | IOSTANDARD = SSTL18_II;
NET "ddr2b_ba[0]" LOC = G3 | IOSTANDARD = SSTL18_II;
NET "ddr2b_ras_l" LOC = K5 | IOSTANDARD = SSTL18_II;
NET "ddr2b_cas_l" LOC = K4 | IOSTANDARD = SSTL18_II;
NET "ddr2b_we_l" LOC = F2 | IOSTANDARD = SSTL18_II;
NET "ddr2b_ck_p" LOC = H4 | IOSTANDARD = DIFF_SSTL18_II;
NET "ddr2b_ck_n" LOC = H3 | IOSTANDARD = DIFF_SSTL18_II;
NET "ddr2b_odt" LOC = J6 | IOSTANDARD = SSTL18_II;
NET "ddr2b_ldm" LOC = L4 | IOSTANDARD = SSTL18_II;
NET "ddr2b_udm" LOC = M3 | IOSTANDARD = SSTL18_II;
NET "ddr2b_ldqs_p" LOC = L3 | IOSTANDARD = DIFF_SSTL18_II | IN_TERM = UNTUNED_SPLIT_25;
NET "ddr2b_ldqs_n" LOC = L1 | IOSTANDARD = DIFF_SSTL18_II | IN_TERM = UNTUNED_SPLIT_25;
NET "ddr2b_udqs_p" LOC = T2 | IOSTANDARD = DIFF_SSTL18_II | IN_TERM = UNTUNED_SPLIT_25;
NET "ddr2b_udqs_n" LOC = T1 | IOSTANDARD = DIFF_SSTL18_II | IN_TERM = UNTUNED_SPLIT_25;
NET "ddr2b_rzq" LOC = N7 | IOSTANDARD = SSTL18_II;

INST "core_u_pano_core/u_cpu_top/u_cpu/ram/Mram_ram_symbol0" LOC = RAMB16_X3Y86;
INST "core_u_pano_core/u_cpu_top/u_cpu/ram/Mram_ram_symbol1" LOC = RAMB16_X3Y84;
INST "core_u_pano_core/u_cpu_top/u_cpu/ram/Mram_ram_symbol2" LOC = RAMB16_X3Y82;
INST "core_u_pano_core/u_cpu_top/u_cpu/ram/Mram_ram_symbol3" LOC = RAMB16_X3Y80;


INST "core_mem/mig_1_/memc1_wrapper_inst/mcb_ui_top_inst/mcb_raw_wrapper_inst/samc_0" LOC = MCB_X1Y1;
INST "core_mem/mig_1_/memc1_infrastructure_inst/BUFPLL_MCB1" LOC = BUFPLL_MCB_X2Y5;
INST "core_mem/mig_1_/memc1_infrastructure_inst/u_pll_adv" LOC = PLL_ADV_X0Y2;
INST "core_mem/mig_1_/memc3_wrapper_inst/mcb_ui_top_inst/mcb_raw_wrapper_inst/samc_0" LOC = MCB_X0Y1;
INST "core_mem/mig_1_/memc3_infrastructure_inst/BUFPLL_MCB1" LOC = BUFPLL_MCB_X0Y5;
INST "core_mem/mig_1_/memc3_infrastructure_inst/u_pll_adv" LOC = PLL_ADV_X0Y3;

PIN "core_mem/mig_1_/memc1_infrastructure_inst/u_pll_adv.CLKIN1" CLOCK_DEDICATED_ROUTE = FALSE;
PIN "core_mem/mig_1_/memc3_infrastructure_inst/u_pll_adv.CLKIN1" CLOCK_DEDICATED_ROUTE = FALSE;
NET "osc_clk" CLOCK_DEDICATED_ROUTE = FALSE;

# From MIG.ucf
NET "core_mem/mig_1_/memc?_wrapper_inst/mcb_ui_top_inst/mcb_raw_wrapper_inst/selfrefresh_mcb_mode" TIG;
NET "core_mem/mig_1_/c?_pll_lock" TIG;
INST "core_mem/mig_1_/memc?_wrapper_inst/mcb_ui_top_inst/mcb_raw_wrapper_inst/gen_term_calib.mcb_soft_calibration_top_inst/mcb_soft_calibration_inst/DONE_SOFTANDHARD_CAL*" TIG;
NET "core_mem/mig_1_/memc?_wrapper_inst/mcb_ui_top_inst/mcb_raw_wrapper_inst/gen_term_calib.mcb_soft_calibration_top_inst/mcb_soft_calibration_inst/CKE_Train" TIG; ##This path exists for DDR2 only
